.loader {
    display: grid;
    justify-content: center;
}

.spin {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    animation: rotate 1s linear infinite;
    border: 3px solid transparent;
    border-top: 3px solid rgba(0, 0, 0, 0.2);
    border-left: 3px solid rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    .loader {
        width: 100vw;
    }
}